/* Regular font */
@font-face {
    font-family: 'Epilogue';
    src: url('assets//fonts/Epilogue-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
    font-weight: 100 900; /* Adjust weight range if needed */
}

/* Italic font */
@font-face {
    font-family: 'Epilogue';
    src: url('assets/fonts/Epilogue-Italic-VariableFont_wght.ttf') format('truetype');
    font-style: italic;
    font-weight: 100 900; /* Adjust weight range if needed */
}

/* Global Styles */
body {
    margin: 0;
    font-family: 'Epilogue';
    /* line-height: 1.6; */
}

.home{
    background-color:#E6EAFF;
}

section {
     padding: 20px;
     max-width: 1300px;
     margin: auto;
}

/* Header Styling */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E6EAFF;
    color: #fff;
    padding: 10px 20px;
}

.logo {
    max-height: 90px;
}

.nav-end {
    display: flex;
    gap: 15px;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
}

.nav-end a {
    color: #2e2e2e;
    text-decoration: underline;
}

.contact {
    background-color: #3B9EBD;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

.call {
    background-color: #3B9EBD;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    width: 180px;
}

.contact:hover {
    background-color: #308098;
}

/* Page1 Section */
.page1 {
    display: flex;
    flex-wrap: wrap; /* Ensures responsiveness */
    /* gap: 10px; */
    margin-top: 20px;
    width: 100%;
    background-color: #E6EAFF;
}

.half-container {
    flex: 1 1 calc(50% - 10px); /* Two columns with space in between */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: #f9f9f9; */
    box-sizing: border-box;

    .main-title{
        margin: 0;
        color: #308098;
        font-size: 4rem;
        font-weight: bold;
    }

    .main-subtitle{
        margin: 0;
        font-size: 2rem;
    }
}

.left-container {
    padding: 10px;
    /* background-color: #f0f0f0; */
}

.right-container {
    /* background-color: #e0e0e0; */
    width: 100%;
    max-height: 400px;
    overflow: hidden;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}


/* Responsive Design */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        text-align: center;
    }

    .nav-end {
        flex-direction: column;
        gap: 10px;
    }

    .page1 {
        flex-direction: column;
    }

    .half-container {
        flex: 1 1 100%; /* Each takes full width on small screens */
        margin-bottom: 10px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .nav-end {
        gap: 10px;
    }

    .half-container {
        flex: 1 1 50%;
    }
}